*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body {
    background: rgb(255,114,114);
    background: -moz-linear-gradient(45deg,  rgba(255,114,114,1) 0%, rgba(254,144,144,1) 29%, rgba(255,255,255,1) 92%);
    background: -webkit-linear-gradient(45deg,  rgba(255,114,114,1) 0%,rgba(254,144,144,1) 29%,rgba(255,255,255,1) 92%);
    background: linear-gradient(45deg,  rgba(255,114,114,1) 0%,rgba(254,144,144,1) 29%,rgba(255,255,255,1) 92%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7272', endColorstr='#ffffff',GradientType=1 );
    
}
.main {
    border: 2px solid rgb(37, 37, 37);
    width: 35%;
    height: 35%;
    margin: 100px 32%;
    background: rgb(192, 182, 182);
    border-radius: 20px;
    box-shadow: 1.5px 1.5px 1px 1px rgb(161, 148, 157);
 
}

.main h2 {
    margin: 15px 30px 15px;
    width: 35%;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}
.main h3 {
    margin-top: 30px;
    margin-left: 80px;
    width: 30%;
    font-family: 'Patrick Hand', cursive;
    font-style: oblique;
    text-shadow: 1px 1px 1px grey;

}
.main p {
    position: relative;
    top: 40px;
    left: 10px;
    margin-top: 8px;
    width: 50%;
}
.photo img {
    height: 190px;
    width: 150px;
    position: relative;
    float: right;
    margin: 3% 3%;
    border: 2px solid rgb(134, 121, 121);
    border-radius: 10%;
    box-shadow: 1px 1px 2px rgb(134, 121, 121);
}
